h1 {
  color: blueviolet;
  background-color: yellow;
}
h2 {
  color: red;
  background-color: yellow;
}
h3 {
  color: blueviolet;
  background-color: yellow;
}
h4 {
  color: blueviolet;
  background-color: yellow;
}
h5 {
  color: blueviolet;
  background-color: yellow;
}
